[Unit]
Description=AYANEO Pocket EVO HL7139 direct-charge policy
After=systemd-modules-load.service
ConditionPathExists=/sys/class/power_supply/hl7139-master
ConditionPathExists=/sys/class/power_supply/hl7139-slave

[Service]
Type=simple
ExecStart=/usr/libexec/armada-pocketevo-charge-policy
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
